version: '3'

services:
    blackfire:
        image: {{CONTAINER_BLACKFIRE_IMAGE}}:{{CONTAINER_BLACKFIRE_VERSION}}
        container_name: {{PROJECT_NAME}}_{{CONTAINER_BLACKFIRE_NAME}}
        restart: always
        environment:
            - BLACKFIRE_SERVER_ID=${BLACKFIRE_SERVER_ID_T}
            - BLACKFIRE_SERVER_TOKEN=${BLACKFIRE_SERVER_TOKEN_T}
            - BLACKFIRE_CLIENT_ID=${BLACKFIRE_CLIENT_ID_T}
            - BLACKFIRE_CLIENT_TOKEN=${BLACKFIRE_CLIENT_TOKEN_T}
        networks:
            - docker_projectsubnetwork

networks:
    docker_projectsubnetwork:
        external: true
