version: '3'

services:
    db:
        image: {{CONTAINER_POSTGRES_IMAGE}}:{{CONTAINER_POSTGRES_VERSION}}
        container_name: {{PROJECT_NAME}}_{{CONTAINER_POSTGRES_NAME}}
        restart: on-failure:5
        environment:
            - POSTGRES_PASSWORD=root
        networks:
            - docker_projectsubnetwork

networks:
    docker_projectsubnetwork:
        external: true
